@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
  
/* shared style */
.display-flex{
   display: flex;
}
.text-gray{
    color: #424242;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
}
.banner-image{
    width: 100%;
}
main > section{
margin-top: 130px;
}

/* header style */

/* navber related style */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}
.banner-tittle{
    font-weight: 700;
    font-size: 4rem;
}
.teams{
    align-items: center;
    justify-content: center;
}
.team-contrainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.our-features{
    margin-left: 130px;
    max-width: 576px;
}
.style{
    #131313;
}
.design{
    color: #727272;
}
.design2{
     color: rgba(255, 144, 14, 1)
}
.fact-contrainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
}
.fact-description{
    max-width: 540px;
}
.our-sponsor{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.sponsor-company img{
    filter: grayscale(100%);
}
.sponsor{
    text-align: center;
}
@media screen and (max-width:576px) {
    .navbar, 
    .nav-item, 
    .teams{
        flex-direction: column;
    }
      .our-features{ 
        margin-left: 50px auto;
      }
      .team-contrainer, 
      .fact-contrainer,
      .sponsor-company
      {
        grid-template-columns: repeat(1, 1fr);
      }
      .fact-contrainer{
        justify-content: center;
        gap: 20px;
      }
      .sponsor-company{
        justify-items: center;
       gap: 50px; 
      }
}
@media screen and (min-width:575px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
}